version: '3'

volumes:
  sqlite_data: 
  static_data: 
  media_data: 

services:
  web:
    image: web_image
    container_name: web_container
    depends_on:
      - db
    build: .
    volumes:
      - .:/app/
      - static_data:/app/static/
      - media_data:/app/media/
    env_file: .env
    command: python manage.py runserver
    ports:
      - 8003:8003
    restart: always

  db:
    image: postgres:13.4-buster
    container_name: web_sqlite_container
    volumes:
      - sqlite_data:/app/db
    env_file: .env
    environment:
      DATABASE_URL: "sqlite:///db/app.db.sqlite3"  
    restart: always
